*
{
    margin: 0;
    padding: 0;
}


.slide 
{
    height: 725px;
    object-fit: cover;
}


  
@media (max-width: 992px) 
{
    .slide
    {
      height: 350px; /* Smaller height on mobile */
    }
    .slide
    {
      height: 350px;
      object-fit: cover;
    }
  }

.btn-product
{
    background-color: ffae00;
}

.footer-links a 
{
    text-decoration: none;
    color: black;
  }
  
  .footer-links a:hover 
  {
    color: #ff6600; /* optional: hover color */
  }